In [15]:
# Import library
import xlsxwriter as xlsxwriter 
import pandas as pd

In [32]:
# initialize list of lists 
data = [['tom', 10], ['nick', 15], ['juli', 14]] 
  
# Create the pandas DataFrame 
df = pd.DataFrame(data, columns = ['Name', 'Age']) 
  
# print dataframe. 
df

   Name  Age
0   tom   10
1  nick   15
2  juli   14

In [46]:
# Create a Pandas dataframe from some data.
df = pd.DataFrame({'Data': [10, 20, 30, 20, 15, 30, 45,60,90,100,200]})

# Create a Pandas Excel writer using XlsxWriter as the engine.
writer = pd.ExcelWriter('data/filename.xlsx', engine='xlsxwriter')

# Convert the dataframe to an XlsxWriter Excel object.
df.to_excel(writer, sheet_name='Sheet1')

# Pick up the worksheet and use xlsxwriter to customize worksheet
workbook = writer.book
worksheet = writer.sheets["Sheet1"]
worksheet.freeze_panes(1,0)

# Output excel
writer.save()